<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<!-- add SSL for PlanetScale -->
<!-- php_value open_basedir /var/www/html:/dev/stdout:/tmp:/etc/ssl/ -->
